SECRET_KEY=make-your-own
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

----------------------------
EMAIL_HOST
----------------------------
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
EMAIL_USE_TLS=
EMAIL_USE_SSL=